table {
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 600px;
}

table, th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

td:nth-child(2){
  width: 500px;
  overflow: hidden;
}

.image-block {
  border: 1px solid #000;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-radius: 10px;
}


/* Home Page css */
.new_play_image fieldset{
  text-align: center;
}
.new_play_image fieldset label{
  margin: 10px 0px;
}
.new_play_image{
  max-width: 500px;
  margin: 0 auto;
}
#file-field {
  border: 1px solid #c0c0c0;
  padding: 10px;
  margin-top: 9px;
  border-radius: 20px;
}
#home-heading {
  text-align: center;
}